@import url(styles/header.css);
@import url(styles/banner.css);

:root{
    --background: #ebecee;
    --branco:#fff;
    --laranja: #EB9B00;
    --degrade-azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 156.37%);
    --fonte: 'Poppins', sans-serif;
}

body{
    background-color: var(--background);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
}